@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle mini-avatar" data-toggle="dropdown">@User.Identity.Name</a>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Профиль", "Profile", "Account")
                    </li>
                    @*<li class="divider"></li>
                        <li>@Html.ActionLink("99+ уведомлений", "Messages", "Account")</li>*@
                    <li class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
