@model YourWorks.Models.AchivementCollections.AchivementCollectionsDetails

@{
    Layout = "";
}


<ul class="nav nav-tabs profile">
    <li class="active"><a href="#tab1" data-toggle="tab">Иконки</a></li>
    <li><a href="#tab2" data-toggle="tab">Список</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active icons" id="tab1">
        @if (Model.Create != null)
        {
            <div class="@Model.Create.ImageClass">
                @Html.ActionLink(Model.Create.Name, Model.Create.Redirect.Action, Model.Create.Redirect.Controller, Model.Create.Redirect.Model, null)
            </div>
        }
        @foreach (var item in Model.Items)
        {
            <div class="@item.ImageClass">
                @Html.ActionLink(item.Name, item.Redirect.Action, item.Redirect.Controller, item.Redirect.Model, null)
            </div>
        }
    </div>
    <div class="tab-pane list" id="tab2">
        @if (Model.Create != null)
        {
            <div class="@Model.Create.ImageClass">
                @Html.ActionLink(Model.Create.Name, Model.Create.Redirect.Action, Model.Create.Redirect.Controller, Model.Create.Redirect.Model, null)
            </div>
            <hr />
        }
        @foreach (var item in Model.Items)
        {
            <div class="@item.ImageClass">
                @Html.ActionLink(item.Name, item.Redirect.Action, item.Redirect.Controller, item.Redirect.Model, null)
            </div>
            <hr />
        }
    </div>
</div>