@model YourWorks.Models.PhotoAchivement

@{
    ViewBag.Title = "Добавить фото";
}

<div class="wrapper">
    <content>
        <div class="tabbable">
            @using (Html.BeginForm("Create", "PhotoAchivements", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>@ViewBag.Title</h4>
                    @Html.HiddenFor(model => model.AchivementCollectionID)
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Name)
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            @Html.LabelFor(model => model.PhotoName)
                            @Html.Editor("photo", new { htmlAttributes = new { @class = "form-control", @type = "file", @accept = ".png, .jpg, .png" } })
                            @Html.ValidationMessageFor(model => model.PhotoName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="submit" value="Добавить" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </content>
</div>
