@model YourWorks.Models.PhotoAchivements.PhotoAchivementsView

@{
    ViewBag.Title = "Details";
}

<div class="achivement">

    <div class="work-title">
        <h1>@Model.Achivement.Name</h1>
        <div class="file-icon file-icon-default file-title" data-type="jpg"></div>
    </div>
    <img src="@Model.Photo" width="100%" />
</div>

<div class="wrapper">
    <content>
        <div class="col-md-6">
            <div class="autor">
                <center>
                    <img class="profile-avatar round"/>
                    <div class="autor-info">
                        <div class="profile-username">@User.Identity.Name</div>
                        <div class="profile-rate" title="Рейтинг">4000</div>
                        <div class="clear"></div>
                    </div>
                </center>
                <div class="clear"></div>
            </div>
            <div class="work-desc">
                <h2>Описание</h2>
                <p>@Model.Achivement.Description</p>
            </div>
            <div class="rate">
                <h2>Рейтинг <span>@Model.Rate</span></h2>
                <div class="btn btn-group-justified">
                    @Html.ActionLink("+", "RatePositive", "PhotoAchivements", new { id = Model.Achivement.ID }, new { @class = "btn btn-success btn-lg" })
                    @Html.ActionLink("-", "RateNegative", "PhotoAchivements", new { id = Model.Achivement.ID }, new { @class = "btn btn-danger btn-lg" })
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="comments">
                <h2>Комментарии</h2>
                <div id="vk_comments"></div>
            </div>
        </div>
    </content>
</div>

<script type="text/javascript" src="http://vk.com/js/api/openapi.js?121"></script>
<script type="text/javascript">VK.init({apiId: 5097922, onlyWidgets: true});</script>
<script type="text/javascript">VK.Widgets.Comments("vk_comments", {limit: 10, width: "*", attach: "*"});</script>
